.advertise-bar-component{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    padding: 30px 0px;
    .adv-text{
        
    }
    .adv-btn{
        

    }
    // TO-DO
    //colocar animação aqui de aparecimento da barra
}