<div class="gallery-component">
  <h3>Galeria</h3>
  <div *ngIf = "isVisible" class="modal">
    <span class="close" (click)="closeModal()">&times;</span>
    <img class="modal-content" [src] = "modalImage">
  </div>
  <div class="gallery-container">
      <div class="gallery-box">
        <img *ngFor = "let image of imagens" [src] = image.src (click) = "openModal(image)">
      </div>
  </div>
  <!-- modal de exibicao pode ser  tanto  feito  aqui somente como elemento deste componente galeria
  ou componentizado
  caso componentizado, as funçoes chamadas e as propriedades bindadas 
  em vez de ter que colocar display = none
  <game-modal [imagem] = imagem ou [imagemObject] = imagemObject
  evento de click em cada imagem, click seta duas coisas
  imagemObject global que vai ser setado para o modal
  modalVisible => variavel global = true
  pesquisar depois sobre um componente abrir ou interagir diretamente com o outro
  <img [src]="imagem"
  https://www.w3schools.com/howto/howto_css_modal_images.asp

  depois poderia também colocar barra de pesquisa
  para usando palavra chave, fazer um get de imagens de tematica diferente, já que pra requisicao só precisa alterar o nome da pesquisa
  
  -->
</div>

