.card-image{
    width: 30%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.card-text{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    //overflow-y: scroll;
    p{
        width: 100%;
        height: 80%;
    }
    .card-button{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button{
            height: 80%;
            width: 10%;
        }
    }
}
.card-text::-webkit-scrollbar{
    width: 8px;
}
.card-text:hover{
    background-color: red;
}