.description-component{
    .cards-container{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        //justify-content: space-around;
        //flex-wrap: wrap;
        .description-card{
            margin: 20px 0px;
            width: 85%;
            height: 400px;
            display: flex;
            flex-direction: row;
            -webkit-box-shadow: 0px 0px 15px 2px rgba(14,15,15,0.22);
            -moz-box-shadow: 0px 0px 15px 2px rgba(14,15,15,0.22);
            box-shadow: 0px 0px 15px 2px rgba(14,15,15,0.22);
            
        }
        .description-card:nth-of-type(2n){

            flex-direction: row-reverse;
            
        }
    }
}

@media only screen and (max-width:700px){
    .description-component{
        display: none;
    }
}