/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    background-color: #e3f6f5;
}

body{
    margin: 0;
    font: 1.2rem Georgia;
}
p{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

    a:link{
        text-decoration: none;
    }
    
    a:visited{
        text-decoration: none;
    }
    
    a:hover{
        text-decoration: none;
    }
    
    a:active{
        text-decoration: none;
    }
}
a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.neon-green-border{
    border-color: #49fb35;
    border-style: dashed;
    border-width: 2px;
}

.white-border-light{
    border-color: gray;
    border-style: solid;
    border-width: 2px;
}

.white-border-heavy{
    padding: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 4px;
}

.white-background{
    background-color: white;
}
h1{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 4em;
    color: gray;
}
h2{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 3em;
    color: gray;
}
h3{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 2em;
    color: gray;
    margin: 20px 30px;
}

::-webkit-scrollbar {
    width: 7px;
    visibility: hidden;

}

::-webkit-scrollbar-track {
    opacity: 0;
}
  
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

  /*
    outras opções de customização uteis
    ::-webkit-scrollbar the scrollbar.
    ::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
    ::-webkit-scrollbar-thumb the draggable scrolling handle.
    ::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
    ::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
    ::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
    ::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.
*/